@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Ubuntu&display=swap');
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.02rem;
    padding: 20px 0;
}
.heading-content{
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
}
.heading-content h5{
    font-size: 4em;
    font-weight: 300;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.heading-content h1{
    font-size: 5em;
    font-weight: bolder;
    color: #fff;
    font-family: 'Hedvig Letters Sans', sans-serif;
}
.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
}
/*----------about button-----*/
#about .btn{
    border:2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px;
}
#about .btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
#about .btn:hover{
    border: 2px solid #1ebba3;
    cursor: pointer;

}
   /*-----------project start---------*/

#project .button {
    border:2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px;
}
#project .button a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
#project .button:hover {
    border: 2px solid #1ebba3;
    cursor: pointer;
}
/*---------------media query-----------*/





